.header-top {
  display: flex;
  height: 7vh;
  background: rgba(1, 126, 254, 255);
  color: white;
  box-shadow: 3px 3px 10px black;
  padding: 0 10%;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid black;
}
.header-top img {
  position: absolute;
  left: 1%;
  width: 30px;
  height: 30px;
}
.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 220px;
  font-weight: 900;
}

.nav button {
  background: rgba(66, 66, 66, 255);
  color: white;
  font-size: 1 rem;
  outline: none;
  font-weight: 600;
  height: 2rem;
  cursor: pointer;
}

@media only screen and (max-width: 600px) {
  .header-top,
  .nav button {
    font-size: 75%;
  }
  .header-top {
    padding: 0 6%;
  }
  .nav {
    width: 140px;
  }
  .header-top img {
    left: 0.3%;
    width: 15px;
    height: 15px;
  }
}
