.extra {
  color: rgb(173, 170, 170);
  padding: 0% 0 2% 10%;
}

.extra__terms {
  display: flex;
  max-width: 80%;
  justify-content: space-between;
}

.extra__terms p {
  padding-right: 10px;
}

@media only screen and (max-width: 900px) {
  .extra__terms {
    max-width: 100%;
    font-size: 80%;
  }
}
