.social-icons {
  width: auto;
  display: flex;
  padding-left: 10%;
  float: left;
}
.social-icons svg {
  margin-right: 12px;
}
@media only screen and (max-width: 600px) {
  .social-icons svg {
    width: 20px;
    height: 20px;
  }
}
