.store-icons {
  display: flex;
  margin-right: 10%;
  float: right;
  width: auto;
  padding-bottom: 20px 0;
}
.store-icons svg {
  margin-left: 10px;
}
@media only screen and (max-width: 750px) {
  .store-icons {
    flex-wrap: wrap;
  }
  .store-icons svg {
    width: 70px;
    height: 30px;
  }
}

@media only screen and (max-width: 450px) {
  .store-icons svg {
    width: 50px;
    height: 25px;
  }
}
