.login-btn {
  width: 200px;
  height: 50px;
  outline: none;
  cursor: pointer;
  transition: all 0.3s ease;
  margin-bottom: 5px;
}

.login-btn:active {
  transform: translateX(5%);
}
.login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 12%;
  height: 68vh;
  padding: 2% 10%;
}
