.login-btn {
  width: 280px;
  height: 70px;
  outline: none;
  cursor: pointer;
  transition: all 0.3s ease;
}

.login-btn:active {
  transform: translateY(5%);
}
.login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 12%;
}
