.movies,
.series {
  height: 60vh;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(3, 1fr);
  border: 1px solid black;
  padding: 1% 10% 3% 10%;
  grid-gap: 0px;
}

.movies p,
.series p {
  display: flex;
  font-size: 0.8rem;
}
.movies img,
.series img {
  width: 80px;
  height: 80px;
}
@media only screen and (max-width: 900px) {
  .movies,
  .series {
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(4, 1fr);
  }
}
@media only screen and (max-width: 500px) {
  .movies,
  .series {
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
  }
}
@media only screen and (max-width: 350px) {
  .movies,
  .series {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(6, 1fr);
  }
}
