.movies,
.series {
  min-height: 68vh;
}
.movies__items,
.series__items {
  display: flex;
  padding: 1% 9% 1% 10%;
  gap: 16px;
  flex-flow: row wrap;
}
.movies p,
.series p {
  display: flex;
  font-size: 0.8rem;
  max-width: 70px;
  max-height: 22px;
}
.movies img,
.series img {
  width: 70px;
  height: 105px;
}
@media only screen and (min-width: 1300px) {
  .movies img,
  .series img {
    width: 90px;
    height: 135px;
  }
}
