.shows {
  min-height: 68vh;
}
.show__items {
  display: flex;
  padding: 1% 9% 1% 10%;
  gap: 16px;
  flex-flow: row wrap;
}
.shows p {
  display: flex;
  font-size: 0.8rem;
  max-width: 70px;
  max-height: 22px;
}
.shows img {
  width: 70px;
  height: 105px;
}
@media only screen and (min-width: 1300px) {
  .shows img {
    width: 90px;
    height: 135px;
  }
}
